<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for('static', filename= 'css/new_style.css') }}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-uWxY/CJNBR+1zjPWmfnSnVxwRheevXITnMqoEIeG1LJrdI0GlVs/9cVSyPYXdcSF" crossorigin="anonymous">
    <title>About Agora</title>
</head>
<body>
    <div class="wrap">
        <h1 class="display-1">About Agora</h1>

        <div class="main-content">
            <h1 class="display-4">What is Agora?</h1>

            <p class="lead" style="padding-top: 0.75rem;">
                Agora seeks to introduce the financial opinion of the Internet to traditional stock analysis.
            </p>

            <p>
                Agora, meaning "the marketplace" in ancient Greek, aggregates conversations from Yahoo! Finance and headlines
                from major news publications to determine a sentiment polarity score.
            </p>

        </div>
    </div>

</body>
</html>