<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for('static', filename= 'css/style.css') }}">
    <title>Entered Stock Ticker</title>
</head>
<body>
{% for key, value in form_data.items() %}
<h1> {{key}}: {{value}}</h1>
<!-- TradingView Widget BEGIN -->
<div class="tradingview-widget-container">
    <div id="tradingview_eebdd"></div>
    <div class="tradingview-widget-copyright"><a href="https://www.tradingview.com/symbols/NASDAQ-{{value}}/" rel="noopener"
                                                 target="_blank"><span class="blue-text">{{value}} Chart</span></a> by
        TradingView
    </div>
    <script type="text/javascript" src="https://s3.tradingview.com/tv.js"></script>
    <script type="text/javascript">
        new TradingView.widget(
            {
                "width": 980,
                "height": 610,
                "symbol": "NASDAQ:{{value}}",
                "interval": "D",
                "timezone": "Etc/UTC",
                "theme": "dark",
                "style": "1",
                "locale": "en",
                "toolbar_bg": "#f1f3f6",
                "enable_publishing": false,
                "allow_symbol_change": true,
                "container_id": "tradingview_eebdd"
            }
        );
    </script>
</div>
<!-- TradingView Widget END -->
<!--<p> {{value}}</p>-->
{% endfor %}
</body>
</html>