<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for('static', filename= 'css/style.css') }}">
    <title>Entered Stock Ticker: {{form_data["Searched Ticker"]}}</title>
</head>
<body>
{% for key, value in form_data.items() %}
<h1> {{key}}: {{value}}</h1>
<!-- TradingView Widget BEGIN -->
<div class="tradingview-widget-container">
    <div id="tradingview_eebdd"></div>
    <div class="tradingview-widget-copyright"><a href="https://www.tradingview.com/symbols/NASDAQ-{{value}}/" rel="noopener"
                                                 target="_blank"><span class="blue-text">{{value}} Chart</span></a> by
        TradingView
    </div>
    <script type="text/javascript" src="https://s3.tradingview.com/tv.js"></script>
    <script type="text/javascript">
        new TradingView.widget(
            {
                "width": 980,
                "height": 610,
                "symbol": "NASDAQ:{{value}}",
                "interval": "D",
                "timezone": "Etc/UTC",
                "theme": "dark",
                "style": "1",
                "locale": "en",
                "toolbar_bg": "#f1f3f6",
                "enable_publishing": false,
                "allow_symbol_change": true,
                "container_id": "tradingview_eebdd"
            }
        );
    </script>
</div>
<!-- TradingView Widget END -->
{% endfor %}
<p> {{value}}</p>

<!--{{ticker_info}}-->
<h1>Ticker Properties</h1>
{% for info_row in ticker_info %}
    <p>
        Ticker: {{info_row[0]}} <br>
        Company Name: {{info_row[1].capitalize()}} <br>
        Analyst Rating: {{info_row[2]}} <br>
        Headline Polarity: {{info_row[3]}} <br>
        Conversation Polarity: {{info_row[4]}}
    </p>
{% endfor %}
<br>
<h1>Latest News Regarding {{form_data["Searched Ticker"]}}</h1>
{% for headline_row in ticker_headlines %}
    <p>
        {{headline_row[0]}}
    </p>
{% endfor %}

</body>
</html>