<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for('static', filename= 'css/new_style.css') }}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-uWxY/CJNBR+1zjPWmfnSnVxwRheevXITnMqoEIeG1LJrdI0GlVs/9cVSyPYXdcSF" crossorigin="anonymous">
    <title>{{ticker_name}} Details</title>
</head>
<body>
<div class="wrap">
    <h2 style="margin-left:auto;margin-right:auto;text-align:center"><a href="/" class="link-dark">AGORA</a></h2>

    <div class="top-bar">
        <h5 style="float: left;"><a href="/" style="text-decoration: none; float: left;">◄ BACK</a></h5>

        <form style="float: left;" action="/data/" method="GET" >
            <input style="text-align: center; font-size: 14px; height: 30px; width: 245px;" type="text" name="Searched Ticker" placeholder="Search for a ticker..." required/>
            <input style="float: right; height: 30px; font-size: 14px;" type="submit" value="Submit"/>
        </form>
    </div>

    <div class="main-content">
        <h6><small class="text-muted">{{ticker_name}} • {{stock_price_dict["exchange"]}}</small></h6>
        {% for info_row in ticker_predictions %}
        <h1 class="display-6">{{info_row[1]}} <span style="float: right; color: {{stock_price_dict['color']}}"><b>${{stock_price_dict["current_price"]}}</b></span></h1>
        <hr>
        {% if info_row[3] == 1.0 %}
        <h1 class="display-3">The Agora recommends... <span style="color: #006400"><b>buying<sup><a style="color: #006400" href="/about#how-does-agora-work">1</a></sup></b></span> <a
                href="https://finance.yahoo.com/quote/{{info_row[0]}}" target="_blank"
                class="custom-style"><span class="custom-style-2">{{info_row[0]}}</span></a>.</h1>
        {% elif info_row[3] == 0.0 %}
        <h1 class="display-3">The Agora recommends... <span style="color: #8b0000"><b>not buying<sup><a style="color: #8b0000" href="/about#how-does-agora-work">1</a></sup></b></span> <a
                href="https://finance.yahoo.com/quote/{{info_row[0]}}" target="_blank"
                class="custom-style"><span class="custom-style-2">{{info_row[0]}}</span></a>.</h1>
        {% else %}
        <h1 class="display-3">The Agora could not make a recommendation for this stock.</h1>
        {% endif %}

        {% if info_row[4] and info_row[5] %}
        <h4><small class="text-muted">Headline Polarity<a href="/about#polarity-scores"><sup class="text-muted">2</sup></a>: </small>{{info_row[4]}}</h4>
        <h4><small class="text-muted">Conversation Polarity<a href="/about#polarity-scores"><sup class="text-muted">3</sup></a>: </small>{{info_row[5]}}</h4>
        {% endif %}

        <div style="padding-top: 1.5rem">
            {% if info_row[2] == 'Buy' or info_row[2] == 'Strong Buy' %}
            <h2>Analyst firms recommend a ... <a style="color: #006400" href="https://www.nasdaq.com/market-activity/stocks/{{ticker_name}}/analyst-research" target="_blank"><span style="color: #006400">{{info_row[2]}}</span></a> for <a
                    href="https://finance.yahoo.com/quote/{{info_row[0]}}" target="_blank" class="link-dark">{{info_row[0]}}</a>.
            </h2>
            {% elif info_row[2] == 'Sell' or info_row[2] == 'Strong Sell' %}
            <h2> Analyst firms recommend a ... <a style="color: #8b0000" href="https://www.nasdaq.com/market-activity/stocks/{{ticker_name}}/analyst-research" target="_blank"><span style="color: #8b0000">{{info_row[2]}}</span></a> for <a
                    href="https://finance.yahoo.com/quote/{{info_row[0]}}" target="_blank" class="link-dark">{{info_row[0]}}</a>.
            </h2>
            {% else %}
            <h2>Analyst firms recommend a ... <a href="https://www.nasdaq.com/market-activity/stocks/{{ticker_name}}/analyst-research" target="_blank"><span style="color: #808080">{{info_row[2]}}</span></a> for <a
                    href="https://finance.yahoo.com/quote/{{info_row[0]}}" target="_blank" class="link-dark">{{info_row[0]}}</a>.
            </h2>
            {% endif %}
        </div>


        <!--        <h1 class="display-4">The Agora recommends... buying <a href="https://finance.yahoo.com/quote/FCEL"-->
        <!--                                                                target="_blank" class="link-dark">{{ticker_name}}</a>.</h1>-->
        {% endfor %}
        <div class="middle-section">
            <div style="padding-right: 0.2rem; float: left;">
                <!-- TradingView Widget BEGIN -->
                <div class="tradingview-widget-container">
                    <div id="tradingview_664a2"></div>
                    <div class="tradingview-widget-copyright">
                        <p style="font-size: 20px; padding-top: 0.45rem;">Interactive <a href="https://www.tradingview.com/symbols/{{ticker_name}}" rel="noopener"
                                       target="_blank"><span class="blue-text">{{ticker_name}} Chart</span></a>
                            by TradingView</p>
                    </div>
                    <script type="text/javascript" src="https://s3.tradingview.com/tv.js"></script>
                    <script type="text/javascript">
                      new TradingView.widget(
                      {
                      "width": 800,
                      "height": 500,
                      "symbol": "{{ticker_name}}",
                      "interval": "D",
                      "timezone": "exchange",
                      "theme": "light",
                      "style": "1",
                      "locale": "en",
                      "toolbar_bg": "#f1f3f6",
                      "enable_publishing": false,
                      "allow_symbol_change": true,
                      "container_id": "tradingview_664a2"
                    }
                      );


                    </script>
                </div>
                <!-- TradingView Widget END -->
            </div>

            <div style="padding-left: 0.2rem; float: right;">
                <h1>Ticker Metrics</h1>
                <table class="table align-middle ticker-metrics-table">
                    {% for metric_row in ticker_info %}
                    {% if metric_row[1] != None %}
                    <tr>
                        <td><h4><small class="text-muted">Stock Volatility (Beta)</small></h4></td>
                        <th><h4>{{metric_row[1]}}</h4></th>
                    </tr>
                    {% endif %}

                    {% if metric_row[2] != None %}
                    <tr>
                        <td><h4><small class="text-muted">Profit Margin</small></h4></td>
                        <th><h4>${{metric_row[2]}}</h4></th>
                    </tr>
                    {% endif %}

                    {% if metric_row[3] != None %}
                    <tr>
                        <td><h4><small class="text-muted">Predicted Earnings Per Share (Forward EPS)</small></h4></td>
                        <th><h4>${{metric_row[3]}}</h4></th>
                    </tr>
                    {% endif %}

                    {% if metric_row[4] != None %}
                    <tr>
                        <td><h4><small class="text-muted">Stock Purchase Price (Book Value)</small></h4></td>
                        <th><h4>${{metric_row[4]}}</h4></th>
                    </tr>
                    {% endif %}

                    {% if metric_row[5] != None %}
                    <tr>
                        <td><h4><small class="text-muted">Number of Shares Owned by Financial Institutions</small></h4>
                        </td>
                        <th><h4>{{metric_row[5] * 100}}%</h4></th>
                    </tr>
                    {% endif %}

                    {% if metric_row[6] != None %}
                    <tr>
                        <td><h4><small class="text-muted">Number of Shorted Shares Over 30 Days</small></h4></td>
                        <th><h4>{{metric_row[6] * 100}}%</h4></th>
                    </tr>
                    {% endif %}

                    {% if metric_row[7] != None %}
                    <tr>
                        <td><h4><small class="text-muted">Number of Shorted Shares by Financial Institutions</small>
                        </h4></td>
                        <th><h4>{{metric_row[7] * 100}}%</h4></th>
                    </tr>
                    {% endif %}
                    {% endfor %}
                </table>
            </div>
        </div>

        <div style="padding-top: 1.5rem">
            {% if ticker_headlines %}
            <h1>Latest News Regarding {{ticker_name}}</h1>
            <table class="table align-middle">
                {% for headline_row in ticker_headlines %}
                <tr>
                    <td><h5><small class="text-muted">{{headline_row[2]}}</small></h5></td>
                    <th><h5><a class="custom-style" href="{{headline_row[1]}}" target="_blank"><span
                            class="custom-style-2">{{headline_row[0]}}</span></a></h5></th>
                </tr>
                {% endfor %}
            </table>
            {% endif %}
        </div>
    </div>
</div>
</body>
</html>