absl-py==0.7.1
ansible==2.9.10
astor==0.8.0
beautifulsoup4==4.9.3
bs4==0.0.1
certifi==2020.12.5
cffi==1.14.0
chardet==4.0.0
click==7.1.2
colorama==0.4.4
configparser==5.0.1
crayons==0.4.0
cryptography==2.9.2
cycler==0.10.0
demoji==0.4.0
env==0.1.0
et-xmlfile==1.0.1
future==0.17.1
gast==0.2.2
grpcio==1.21.1
gym==0.12.5
h5py==2.9.0
idna==2.10
jdcal==1.4.1
Jinja2==2.11.2
joblib==1.0.0
Keras-Applications==1.0.8
Keras-Preprocessing==1.1.0
kiwisolver==1.3.1
lxml==4.6.2
Markdown==3.1.1
MarkupSafe==1.1.1
matplotlib==3.3.3
mock==3.0.5
nltk==3.5
numpy==1.19.5
openpyxl==2.6.2
packaging==20.4
pandas==1.2.0
Pillow==8.0.1
protobuf==3.8.0
pycparser==2.20
pyglet==1.3.2
pyparsing==2.4.7
python-dateutil==2.8.1
pytz==2020.5
PyYAML==5.3.1
regex==2020.11.13
requests==2.25.1
rnn==0.0.0
scipy==1.3.0
selenium==3.141.0
six==1.15.0
soupsieve==2.1
tensorboard==1.13.1
tensorflow==1.13.1
tensorflow-estimator==1.13.0
termcolor==1.1.0
textblob==0.15.3
tqdm==4.56.0
urllib3==1.26.2
webdriver-manager==3.2.2
Werkzeug==0.15.4
wordcloud==1.8.1
XlsxWriter==1.1.8
